@font-face {
    font-family: 'Poppins1';
    src: url(fonts/Poppins1-ExtraBold.otf) format("opentype");
}
@font-face {
    font-family: 'Poppins2';
    src: url(fonts/Poppins2-Bold.otf) format("opentype");
}
@font-face {
    font-family: 'Poppins3';
    src: url(fonts/Poppins3-SemiBold.otf) format("opentype");
}
@font-face {
    font-family: 'Poppins4';
    src: url(fonts/Poppins4-Regular.otf) format("opentype");
}
@font-face {
    font-family: 'Poppins5';
    src: url(fonts/Poppins5-Medium.otf) format("opentype");
}
@font-face {
    font-family: 'Poppins6';
    src: url(fonts/Poppins6-Light.otf) format("opentype");
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
html {
    overflow-x: hidden;
}


a {
    text-decoration: none;
}

h1 {
    font-family: 'Poppins1', sans-serif;
}

h2 {
    font-family: 'Poppins1', sans-serif;
}

h3 {
    font-family: 'Poppins3', sans-serif;
}

p{
    font-family: 'Poppins6', sans-serif;
}

:root {
    --heading-weight: 900;
    --heading-size: 3rem;
    --text-color1: #333;
    --text-color2: #4d4d4d;
    --custom-green: #009245;
    --shadow-color: rgba(0, 0, 0, .2);
    --bg-color: #fdfdfd;
    --text-color: #333;
    --secondary-color: #cada2f;
    /**/
    --container: 120rem;
    --primary: hsl(201.43, 13.21%, 58.43%);
    --white: hsl(0, 0%, 100%);
    --white-light: hsl(0, 0%, 99%);
    --box-shadow: hsl(220, 7.32%, 91.96%);
}

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.button {
    font-family: 'Poppins5', sans-serif;
    max-width: fit-content;
    min-width: fit-content;
    color: white;
    border-radius: .5rem;
    padding: .4rem 1rem;
    background: var(--custom-green);
    box-shadow: #333 1px 1px 4px;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.button:hover {
    background: white;
    color: var(--custom-green);
    border-color: var(--custom-green);
    scale: 1.1;
}

.header {
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 6rem;
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: background 0.5s ease, box-shadow 0.5s ease;
    gap: 1rem;
}

.footer {
    background-color: var(--custom-green);
    width: 100%;
    height: 20vh;
}

.login-signup-header {
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    width: 100%;
    position: fixed;
    z-index: 100;
    gap: 1rem;
}

.header.sticky {
    background: whitesmoke;
    box-shadow: 0 .1rem 1rem #333;
}

.logo-header {
    width: 7rem;
    transition: 0.5s ease;
}

.navigation {
    display: flex;
    gap: 4rem;
    transition: 0.5s ease;
}

.navigation a {
    text-decoration: none;
    color: var(--text-color2);
    font-weight: 600;
}

.navigation a.active {
    /* Your styling for the active link */
    opacity: .6;
    /* Change the color to your preference */
    /* Add other styles as needed */
}

.test-section {
    width: 100%;
    height: 200vh;
}


.login-signup {
    display: flex;
    gap: 1rem;
    transition: 0.5s ease;
}

.logo-header.vanish,
.navigation.vanish,
.login-signup.vanish {
    opacity: 0;
}

.hero {
    background-image: linear-gradient(to right, #cada2f80, #2eae4a60 90%);
    display: flex;
    align-items: center;
    padding: 0 6rem;
    width: 100%;
    min-height: 95vh;
    box-shadow: 0 .1rem .5rem #333;
    border-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.hero .text-container {
    display: flex;
    flex-direction: column;
    min-width: 25rem;
    height: 100%;
    color: var(--text-color1);
    z-index: 1;
}


.text-container h1 {
    font-size: 4rem;
    line-height: 4.5rem;
}

.heading-span {
    font-family: 'Poppins1', sans-serif;
    color: var(--custom-green);
}

.text-container h3 {
    opacity: .9;
    font-size: 1.5rem;
    margin-top: 4rem;
}

.text-container a {
    margin-top: 1.5rem;
}

.hero-image {
    position: absolute;
    right: 4rem;
    max-width: 27rem;
    min-width: 19rem;
    width: 40%;
}

.about {
    display: flex;
    flex-direction: column;
    padding: 4rem 6rem 4rem 6rem;
    width: 100%;
    gap: 3rem;
    background-color: #2eae4a30;
}

.about h2 {
    color: var(--text-color1);
    font-size: var(--heading-size);
    text-align: center;
}

.about .container1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.container1 .image-container {
    width: 40%;
    min-width: 30rem;
}

.container1 .image-container img {
    width: 100%;
}

.about .container1 .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color2);
    width: 40%;
    min-width: 30rem;
    gap: 1rem;
}


.about .container2 {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container2 h2 {
    text-align: left;
    margin-bottom: 2rem;
    color: var(--text-color1);
}

.container2 .image-container {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.container2 .image-container img {
    width: 25rem;
}

.container2 .text-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.container2 .text-container p {
    color: var(--text-color2);
}

.services {
    width: 100%;
    min-height: 100vh;
    padding: 0 8rem 6rem 8rem;
    display: flex;
    flex-direction: column;
}

.services h2 {
    color: var(--text-color1);
    margin: 4rem auto 0rem auto;
    font-size: var(--heading-size);
}

.practice-areas .card-container {
    padding: 3rem 0 3rem 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.card-container .practice-card {
    width: 30%;
    padding: 0 0rem 2rem 0rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.card-container .practice-card .card-header {
    height: 5rem;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color1);
}

.card-container .practice-card p {
    font-weight: 50;
    margin: 0 2rem 2rem 2rem;
    color: gray;
}

.services .services-lead {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    color: var(--text-color2);
}

.services .button {
    margin: 2rem auto 0 auto;
}

.trust {
    min-height: 100vh;
    width: 100%;
    padding: 4rem 6rem 0 6rem;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}



.trust .container1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 4rem 0;

}

.trust .container1 p {
    color: var(--text-color2);
    margin-top: 1rem;
}

.trust .container1 h2 {
    color: var(--text-color1);
    font-size: var(--heading-size);
}


.testimonial-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0rem 1rem;
    gap: 2rem;
}

.testimonial-container h2 {
    color: var(--text-color1);
    font-size: var(--heading-size);
    margin-bottom: -2rem;
}

.testimonial-container .testimonial-wrapper {
    position: relative;
    max-width: 50rem;
    width: 100%;
    padding: 1rem;
}

.testimonial-wrapper .testimonial-box {
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
    color: var(--text-color2);
}

.testimonial-content .testimonial-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #2eae4a20;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem #333;
    padding: 3rem 5rem;
    border-top: .8rem solid var(--custom-green);
    border-bottom: .8rem solid var(--custom-green);
}

.testimonial-slide img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    border: .3rem solid white;
    outline: .3rem solid var(--custom-green);
}

.testimonial-slide h3 {
    font-size: 1.5rem;
    margin: 2rem 0;
}

.testimonial-slide p {
    font-size: .9rem;
    text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
    color: var(--custom-green);
}

.testimonial-box .swiper-button-next {
    right: 0;
}

.testimonial-box .swiper-button-prev {
    left: 0;
}

.testimonial-box .swiper-pagination-bullet {
    background: rgba(0, 0, 0, .8);
}

.testimonial-box .swiper-pagination-bullet-active {
    background: var(--custom-green);
}

.contact {
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2eae4a30;
}

.contact h2 {
    color: var(--text-color1);
    font-size: var(--heading-size);
}

.contact form {
    width: 50%;
    min-width: 40rem;
    margin: 1rem 0;
    text-align: center;
    margin-bottom: 1rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1rem;
    font-size: .9rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .button {
    font-size: 1rem;
    margin-left: 0%;
    margin-top: 1rem;
    cursor: pointer;
}



/*Services Page*/

.services-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 9rem 6rem 0rem 6rem;
    gap: 1rem;
}

.services-landing h1 {
    font-size: 2.5rem;
}

.services-landing p {
    width: 60%;
    margin-bottom: 0%;
}

.services-tab {
    width: 100%;
    min-height: fit-content;
    padding: 2rem 6rem 3rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-container {
    background: var(--bg-color);
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: fit-content;
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 20px;
}

.tab-container {
    width: 100%;
    margin: 0 auto 3rem auto;
}


.tab-filter-container {
    width: 100%;
    text-align: center;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1rem;
}

.filter-btn {
    text-wrap: nowrap;
    width: fit-content;
    display: inline-flex;
    padding: 0.5rem 2rem;
    cursor: pointer;
    border: #cada2f solid 1px;
    border-radius: 2rem;
    align-items: center;
    gap: 0.2rem;
    font-weight: 500;
}

.filter-btn.active {
    background: var(--secondary-color);
    color: var(--white);
}

.tab-filter-item-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.tab-item {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0rem 3rem;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    place-items: center start;
}

.tab-content-left img {
    width: 18rem;
    height: 100%;
    margin-top: 30px;
}

.tab-heading {
    font-size: 2rem;
}

.tab-item.select_tab {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
    animation: feadIn 0.6s ease-in-out;
}

.tab-filter-item-container .tab-item .tab-content-right {
    max-width: 30rem;
}

@keyframes feadIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.call-to-action {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 6rem 4rem 6rem;
}

.call-to-action h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.call-to-action p {
    margin-bottom: 2rem;
    width: 60%;
}

.call-to-action .cta-container {
    display: flex;
    gap: 1rem;
}

/*Login/Signup*/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}

.forms-container {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 448px;
    overflow: hidden;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transition: .5s ease-in-out;
}

.login-form h1 {
    color: #2eae4a;
    font-size: 2.5rem;
}

.login-form span a {
    font-weight: 600;
    color: #2eae4a;
}

.registration-form {
    position: absolute;
    right: -448px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s ease-in-out;
    width: 100%;
}

.registration-form span a {
    font-weight: 600;
    color: #2eae4a;
}

.registration-form h1 {
    color: #2eae4a;
    font-size: 2.5rem;
}

.login-form form .input-box,
.registration-form form .input-box {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: fit-content;
}

.login-form form,
.registration-form form {
    background-color: #2eae4a30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 1rem auto;
}

form .button {
    margin-top: 1rem;
}

.login-form form .input-box input {
    width: 100%;
    min-width: 25rem;
    padding: .7rem;
    font-size: .9rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .5rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.registration-form form .input-box input {
    padding: .7rem;
    font-size: .9rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .5rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.registration-form form .input-box .names {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.input-box .names * {
    width: 48%;
}


/*Responsiveness*/
@media (max-width: 1160px) {
    .text-container h1 {
        font-size: 3.5rem;
    }

    .text-container h3 {
        width: 80%;
        font-weight: 1.2rem;
    }

}

@media (max-width: 1055px) {
    .button {
        scale: .9;
    }

    .header {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .hero {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .hero-image {
        right: 3rem;
    }

}

@media (max-width: 975px) {
    .text-container h1 {
        font-size: 3rem;
    }

    .text-container h3 {
        width: 60%;
    }
}

@media (max-width: 830px) {
    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 1.5rem;
    }
    .hero .text-container{
        align-items: center;
        text-align: center;
    }
    .hero-image {
        position: relative;
        right: 0;
    }
    .hero .text-container h1{
        line-height: 3.2rem;
    }
    .hero .text-container h3{
        margin-top: 1rem;
        font-size: 1.2rem;
    }
}